.App {
  --primary-color: #3171e0;
  --highlight-color: #4c8dff;
  text-align: center;
}

.App button {
  border-radius: 10px;
  margin: 4px 2px;
  height: 2.8em;
  border: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.03em;
  background-color: var(--primary-color);
  color: white;
}
.App button:active,
.App button:hover {
  background-color: var(--highlight-color);
}
